@import "variables";
@import "_constants";

.drop-down-menu {
    cursor: pointer;
    &:not(.relative-dropdown) {
        width: auto;
        height: auto;
        position: absolute;
        top: 2 * u(6);
        right: 0;
        z-index: 80;
    }
    &.relative-dropdown {
        width: 100%;
        border: 1px solid $gray-5;
        border-radius: $border-radius;
        max-height: 300px;
        overflow: scroll;
    }

    ul {
        > li {
            cursor: pointer;
            box-sizing: border-box;
            height: u(10);
            @include flex(column, center, flex-start);
            padding: u(2) u(10) u(2) u(5);
            margin: u(1) 0;
            a,
            a.router-link {
                box-sizing: border-box;
                padding: u(2) u(10) u(2) u(5);
                margin: u(1) 0;
                height: 100%;
                width: 100%;
                &:hover {
                    text-decoration: none;
                }
            }
            &:first-child {
                // border-radius: u(1) u(1) 0 0;
            }
            &:last-child {
                // border-radius: 0 0 u(1) u(1);
            }
            &:hover {
                background: $blue-accent-1;
                text-decoration: none;
            }
        }
        &.router-list {
            > li {
                padding: 0;
            }
        }
    }
    &.pop-over-menu {
        cursor: pointer;
        @extend %dd-shadow-heavy;
        z-index: 90;
        ul {
            cursor: pointer;
            margin: u(1) 0;
            li {
                cursor: pointer;
                margin: u(1) 0;
            }
        }
    }
}

.drop-down-menu.select-dropdown {
    width: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    top: u(16);
    ul {
        padding: 0;
        margin: 0;
        box-shadow: 0 0 0 2px $blue-light;
        li {
            padding: (u(3) + 1) u(3) u(3) u(3);
            margin: 0;
            border: none;
            border-bottom: 1px solid $blue-accent-1;
            border-radius: 0;
            &:hover {
                background: $blue-accent-1;
            }
            &:last-child {
                border-bottom-color: transparent;
                border-radius: 0 0 $border-radius $border-radius;
            }
            &:first-child {
                border-radius: $border-radius $border-radius 0 0;
            }
        }
    }
    border: 1px solid $blue-light;
}

#dd-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    cursor: default;
}

.is-selected {
    background: $blue-accent-2;
    border-top: 1px solid $blue-light;
    border-bottom: 1px solid $blue-light;
    color: $blue-dark;
    .dd-select-icon {
        position: absolute;
        right: u(2);
    }
}

.not-selected {
}
