@import './../../Styles/variables';
@import './../../Styles/colors';

.radio-button,
input[type="radio"],
input[type="radio"].radio-button {
	opacity: 0;
    cursor: pointer;
}

.radio-button__display {
	height: u(4);
    width: u(4);
	padding: u(1);
	margin-right: 4px;
	cursor: pointer;
	box-sizing: border-box; 
	@include flex(column, center, center);
    &:focus {
        outline: none;
        box-shadow: none;
	}
	border: 1px solid $black36;
	border-radius: 100%;
	&.--checked {
		background: $gradient;
	}

}

.radio-button--with-label {
	@include flex(row, flex-start, center);
}

.radio-button--sub-label {
	@include flex(column, center, center);
}

