@import './../../Styles/colors';
@import './../../Styles/variables';

.snackbar {
	height: 36px;
	width: auto;
	min-width: 120px;
	background: $black80;
	color: $white;
	position: fixed;
	bottom: 64px;
	left: 50%;
	text-align: center;
	border-radius: 32px;
	box-shadow: $shadow-big;
	@include flex(column, center, center);
	animation: slide-in;
	animation-duration: .2s;
}

@keyframes slide-in {
	0% {
		bottom: -40px

	}
	
	100% {
		bottom: 64px;
	}
}